<h2>PermaDB</h2>

<%= link_to 'All users', users_path,  class: 'btn btn-primary' %> <br />
<%= link_to 'All animals', animals_path,  class: 'btn btn-primary' %> <br />
<%= link_to 'All plants', plants_path, class: 'btn btn-primary' %>


