<%= stylesheet_link_tag params[:action] %>

<div class="logo">
  <%= image_tag 'med_logo.png' %>
</div>

<div class="intro">
  <h1>Permaculture Information</h1>

  <h2>Shared by the community.</h2>

  <br/><br/>
  <%= link_to 'Learn More', root_path %>
</div>
